/* Bootstrap Customize */
body{
	margin: 0;
	padding: 0;
}

/*NavBar*/

#last-ul {
	border: 2px solid #D9E3E2;
	padding: 8px;
	margin-right: 8px;
	border-radius: 5px;
	margin-top: 5px;
	}

#navnav  ul li a {
	color: #D9E3E2!important;
	font-size: 15px;
	font-weight: bold;
}

nav ul{
	padding-top: 8px;
}

#logo_1 {
	height: 60px;
}
/*Navbar*/

/*Evrywhere*/
#evrywhere {
background-color: #439FE0;
height: 120vh;
margin-top: 60px;
text-align: center;
color: white;
}
/*Evrywhere*/

/*All_of*/
#all_of{
	background-color: #2C2D31;
	height: 70vh;

}

.shamshams{
	padding: 50px;
}

#imgAllof{
	margin-top: : 50px;

}

.lettre{
	padding: 50px;
}
/*All_of*/

/*Workday*/
#workday{
	background-color: #F7F5F3;
	height: 80vh;
	color: grey;
	padding: 50px;
}
.title1{
	color: black;
}

.ligne{
	border-radius: 1px grey;
}

#Bt_evrywhere{
	border: 2px solid #D9E3E2;
	padding: 8px;
	margin-right: 8px;
	border-radius: 5px;
	color: white;
}
/*Workday*/

/*BT*/
.Bt_learn{
	border: 2px solid grey;
	padding: 8px;
	margin-right: 8px;
	border-radius: 5px;
	text-decoration: none !important;
	color: grey;
}

/*.cercle{
	border: 2px solid grey;
	padding: 8px;
	margin-right: 8px;
	border-radius: 5px;
	color: grey;
	width: 50%;
	height: 50%;*/
}
.cercle{
		border: 2px solid grey;
}
/*BT*/