/* Bootstrap Customize */
body{
	margin: 0;
	padding: 0;
}

/*NavBar*/

.nav a {
	color: #FFF !important;
	opacity: 0.8;
	font-size: 15px;
	font-weight: bold;
}

.navbar ul {
	padding: 10px 0;
	padding-right: 15px;
}


#logo_nav {
	height: 60px;
	margin: 5px 0 0 0;
	padding-left: 0;
	padding-right: 0;
}

#last-ul {
	border: 2px solid #D9E3E2;
	border-radius: 5px;
	padding: 7px 12px;
	margin-right: 8px;
	margin-left: 10px;
	margin-top: 5px;
}

/*END Navbar*/

/*Everywhere*/
#everywhere {
  background-color: #439FE0;
  /*height: 120vh;*/
  padding-top: 60px;
  text-align: center;
  color: #FFF;
}

#everywhere h1 {
  font-size: 55px;
  font-weight: bolder;
}

#everywhere a {
  font-weight: bold;
  padding: 15px 20px;
  margin-top: 100px;
}

#everywhere p {
  margin-bottom: 30px;
}

.custom {
  margin-bottom: 35px;
}

.custom p {
  text-align: left;
  line-height: 1.4;
}

.everywhere_btn {
	border: 2px solid #D9E3E2;
	padding: 8px;
	margin-right: 8px;
	border-radius: 5px;
	color: white;
}

.img-everywhere {
  margin-top: 70px;
  margin-bottom: 25px;
}

#everywhere hr {
  opacity: 0.2;
  margin-bottom: 40px;
}
/*END Everywhere*/

/*All_of*/
.all_of {
	background-color: #2C2D31;
  color: #CACACB;
	padding-top: 110px;
	padding-bottom: 120px;
}

.all_of h1 {
	color: #FFF;
	font-size: 30px;
	font-weight: bolder;
}

.all_of_image {
	padding-bottom: ;
}

.all_of_text {
	padding: 50px;
}

.all_of_text p {
	margin-bottom: 40px;
}

.all_of_btn {
	color: #FFF;
	font-size: 20px;
	font-weight: bolder;
	opacity: 0.9;
	border: 2px solid #CACACB;
	border-radius: 4px;
	padding: 10px 28px;
}

.all_of_btn:hover {
	color: #2C2D31;
	background-color: #FFF;
	border-color: #FFF;
	text-decoration: none;
}

/*END All_of*/

/*Workday*/
.workday {
	background-image: url(images/survey_results_background.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #F7F5F3;
	color: #4A4A4A;
	padding: 60px 0;
}

.workday_text {
	width: 550px;
	padding-top: 40px;
}

.workday span {
	color: #e32072;
	font-weight: bold;
}

.workday_title {
	color: #2C2D30;
	font-size: 30px;
	font-weight: bolder;
}

/*END Workday*/

/*Create new team*/
.create_new_team {
	padding-top: 100px;
	padding-bottom: 20px;
	color: #4A4A4A;
	text-align: center;
}

.create_new_team_div {
	border: 1px solid #dcdcdc;
	border-radius: 8px;
	display: inline;
	padding: 55px 32px;
	width: 70%;
}

.create_new_team h1 {
	text-align: left;
	width: 400px;
	font-size: 21.9px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 30px;
	line-height: 1.4;
	margin-top: 0;
	margin-bottom: 0;
}

.create_new_team_btn {
	display: inline-block;
	background-color: #56B68B;
	border: 1px solid #56B68B;
	font-size: 20px;
	font-weight: 700;
	padding: 15px 22px;
	vertical-align: middle;
}

.create_new_team_btn:hover {
	background-color: #2ab27b;
	border-color: #2ab27b;
	cursor: pointer;
	position: relative;
}

/*END Create new team*/

.paid_plans {
	display: block;
	color: #2E2E31;
	font-size: 16px;
	margin-top: 50px;
}

.paid_plans a {
	text-decoration: underline;
}

        /*CSS SHAMILA*/

body {
  font-family: 'Lato', sans-serif;
}

#sham-part {
  color: #777777;
}

.container {
  width: 74%;
}

/* HEADER + BUTTON */
#header {
  background-image: url(../images/tour_header_video_1680px.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
}

.btn-watch {
  text-align: center;
  color: #FFF;
  background-color: #2D9EE0;
  font-weight: bold;
  font-size: 19px;
  padding: 10px 45px;
  border-radius: 23px;
  box-shadow: 0px 5px 10px #9a9a9a;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 220px;
}

.btn-watch:hover {
	background-color: #2D9EE0;
}

/*SECTION "TEAM COMMUNICATION"*/
#team {
  margin-top: 60px;
  margin-bottom: 40px;
  margin-left: 35px;
}

#team .col-md-6 {
  max-width: 43%;
}

.team-content {
  margin-top: 100px;
}

h1.bigTitle {
  color: #4A4A4A;
  font-size: 55px;
  font-weight: bolder;
  text-align: center;
}

#team h3 {
  color: #4A4A4A;
  font-weight: bold;
  font-size: 21px;
  margin-top: 50px;
}

p {
  font-size: 17px;
  line-height: 1.6;
}

#team img {
  margin-top: 23px;
}

.team-background-img {
}

/*SECTION "Drag, drop, and share your files"*/
#drag {
  margin-top: 75px;
  margin-bottom: 100px;
}

#sham-part h2 {
  color: #4A4A4A;
  margin-bottom: 20px;
}

/*SECTION "All your tools in one place."*/
#tools {
  margin-top: 70px;
  margin-bottom: 70px;
}

#tools h2 {
  margin-top: 50px;
}

/*SECTION "Search your entire archive."*/
#search {
  margin-top: 75px;
  margin-bottom: 40px;
}

/*SECTION Footer-menu*/
#sham-part h4 {
  font-size: 11px;
  font-weight: bold;
}

#footer-menu {
  margin-top: 16px;
  margin-bottom: 35px;
}

#footer-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 1.9;
}

#footer-menu a {
  text-decoration: none;
  color: #8C8C94;
  font-size: 14px;
}

.h4-yellow {
  color: #EDB431;
}

.h4-pink {
  color: #E32072;
}

.h4-green {
  color: #2AB27B;
}

.h4-blue {
  color: #4B6BC6;
}

/*FOOTER*/
footer {
  background-color: #F2F2F2;
}

footer a {
  color: #A7A0A2;
}

.fa {
  font-size: 20px;
}

footer img {
  margin: 0;
  padding: 0;
}
          /*END CSS SHAMILA*/
